:root {
    --font-size: 30px;
}

body {
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

#message {
    font-family: monospace, sans-serif;
    font-size: var(--font-size);
}

select {
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: var(--font-size);
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.message_input {
    display: flex;
    flex-direction: column;
}

#submit {
    font-size: var(--font-size);
}

#image {
    font-size: var(--font-size)
}

#message {
    font-size: 20px;
}